body {
    background-color: white;
    color: rgb(0, 0, 0);
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid black;
}

#myTable tr:hover {
    background-color: white;
}
